@import 'src/globals';

.content {
  background-color: $secondary;
  width: 100%;
  padding: 10px 24px;
  display: flex;
  flex-direction: column;
}

.content__title {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 16px;
  margin-left: 30px;
}
